@import "/node_modules/bootstrap/dist/css/bootstrap-grid.css";
@import "/node_modules/bootstrap/dist/css/bootstrap.css";

body {
    background-color: #323B31;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-top: 100px;
}

@font-face {
  font-family: 'Brunson';
  src: url('./fonts/brunson/Brunson.ttf') format('truetype');
}

.text-hover:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
  }
  
  .navbar-toggler-icon {
    filter: invert(1);
  }
  
